{{> header}}

<div class="row form-layout p-5">
    <div class="col-md-12">
        <div class="recepieInfo">
            <div class="detailsFoodImage">
                <img src="{{recipe.foodImageURL}}"
                     alt="">
            </div>

            <div class="infoPack">
                <h3 class="my-3">{{recipe.meal}}</h3>
                <p class="prep-method">{{recipe.prepMethod}}</p>
                <p class="description">{{recipe.description}}</p>
            </div>
            <div class="actions">
                {{#if (isAuthor recipe._acl.creator)}}
                    <a class="btn btn-danger" href="#/recipe/remove/{{recipe._id}}">Delete</a>
                    <a class="btn btn-info" href="#/recipe/edit/{{recipe._id}}">Edit</a>
                {{else}}
                    <form method="POST" action="#/recipe/like/{{recipe._id}}" id="like-btn">
                        <button class="btn btn-success">{{likesCounter recipe.likes}} likes{{#if (isUserInLikes recipe.likes)}} <i class="far fa-thumbs-up"></i>{{/if}}</button>
                    </form>
                {{/if}}
            </div>
        </div>

        <div class="detailsIngredients">
            <h3 class="my-3 ingredient">Ingredients</h3>
            <ul>
                {{#each recipe.ingredients}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{> footer}}